.main {
  background-image: url("../assets/img/fondo-lyft.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.home {
  background-image: url("../assets/img/tumblr_olc78w8oH81toe0eco1_500.gif");
  background-position: bottom;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: row;  
  flex-wrap: nowrap;
   align-items: flex-end;
}
.logo {
  position: absolute;
  top: 15%;
  left: 40%;
  height: 30vh;
}
.boton {
  border: 1px solid #FFF;
  background-color: transparent;
  height: 10vh;
  width: 30%;
  margin-left: 15%;
  margin-bottom: 10%;
  color: #FFF;
  font-size: 2rem;
}