<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>jQuery</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="../css/materialize.min.css" media="screen,projection" />
  <link type="image/x" rel="shortcut icon" href="../assets/img/favicon.ico">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <section class="home">
    <section class="logo">
      <div class="container">
        <div class="center-align row">
          <img class="responsive-img" src="../assets/img/logo_pink.png">
        </div>
      </div>
    </section>
    <section class="botones">
      <div class="contenedor-botones container">
        <div class="row">
          <button class="col s6 m6 boton-registro">Log in</button>
          <button id="signup" class="col s5 m5 boton-registro">Sign up</button>
        </div>
      </div>
    </section>
  </section>
  <!-- Scripts jQuery, materialize y propio-->
  <script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../js/materialize.min.js"></script>
  <script src="../js/home.js"></script>
</body>

</html>
