<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>jQuery</title>
  <link type="text/css" rel="stylesheet" href="../css/materialize.min.css" media="screen,projection" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="image/x" rel="shortcut icon" href="../assets/img/favicon.ico">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <section class="container">
    <h1>Sign up</h1>
    <p>Join now for free ride credit</p>
    <div class="row signup">
      <form class="col s12">
        <select class="browser-default">
          <option value="1" selected disabled><img src="../assets/img/mexico.png"></option>
          <option value="2">Option 2</option>
        </select>

        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>

     </form>
    </div>
    <p>We'll send a text to verify your phone</p>
  </section>
  </div>


</body>

</html>