/* Estilo para Index */

.main {
  background-image: url("../assets/img/fondo-lyft.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}


/* Estilo para home*/

.home {
  background-image: url("../assets/img/road.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.logo {
  padding-top: 5%;
}

.home .img-responsive {
  width: 20%;
}

.contenedor-botones {
  padding-top: 250px;
}

.boton-registro {
  border: 1px solid #FFF;
  background-color: #d81b60;
  height: 10vh;
  color: #FFF;
  font-size: 2rem;
  width: 80%;
  margin: 2%;
}

.boton-registro:hover {
  background-color: transparent;
}


/* Sección Signup ingresas tu número de teléfono*/

.signup img {
  width: 2em;
}


.telefono {
  font-size: 1rem;
}

.none-decoration {
  text-decoration: none;
}
.white {
    color: #FFF;
    background-color: #D806A3;
    padding: 21px 0px;
    display: inline-block;
    width: 100%;
}

.alerta {
	box-shadow: 1px 2px 4px rgba(254, 0, 0, .5);
}